<!-- /.container -->
<div id="root">
    <div class="App">
        <!--<Header>-->
        <app-top-nav></app-top-nav>
        <!--</Header>-->
        <div class="container">
            <div class="row">
                <!--<SideNav>-->
                <app-side-nav></app-side-nav>
                <!--</SideNav>-->
                <div class="col-md-9">
                    <!--<Carousel>-->
                    <app-carousel></app-carousel>
                    <!--</Carousel>-->
                    <div class="row">
                        <!--<ProductDetail>-->
                        <app-product-detail></app-product-detail>
                        <!--</ProductDetail>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr/>
            <!--<Footer>-->
            <app-footer></app-footer>
            <!--</Footer>-->
        </div>
    </div>
</div>
